body, html {
	font-family: Georgia, sans-serif;
	font-size: 16px;
	color: #000;
	margin: 0;
	padding: 0;
	height: 100% !important;
}
div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
a:link, a:hover, a:visited {
	color: red;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
#mainCover {
	background: url('../img/kathmandu-city.jpg');
	background-size: cover;
	height: 100vh;
}
#mainMenu li a {
	font-size: 18px;
	color: #fff;
}
#mainMenu li a:hover {
	text-decoration:none;
	color: red;
}
#header {
	background: red;
}
#mainHeader {
	padding-top: 10px;
}
#mainLogo {
	display: inline-block;
}
div#mainTitle h1 {
  color: #fff;
  font-size: 50px;
  color: #FFF;
  font-size: 55px;  
}
div#mainTitle {
    position: absolute;
  top: 40%;
  text-align: center;
  left: 0;
  right: 0;
}
#mainMenu {
	display: inline-block;
	float: right;
}
#mainMenu ul li {
	list-style: none;
	float: left;
	margin-left: 10px;
}
#mainSearch {
	background: #000;
	background: rgba(0,0,0,0.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#mainSection {
	background: #fff;
	padding: 20px 0px;
}
#featuredHostel {
	background: #fff;
	padding: 50px 0px;
}
.subSection {
	padding: 10px;
	border-right: 1px dotted #ccc;
}
.subSection h2 {
	margin-bottom: 5px;
	font-size: 20px;
}
.subSection a, .subSection a:hover {
	color: rgb(238, 142, 88);
}
.subSection img {
	margin-top: 5px;
}
.whyhw {
	text-align: center;
	font-size: 30px;
	color: #FFF;
	background: rgba(238, 142, 88, 0.7);
	margin: 0;
	padding: 10px;
}
#mainFooter {
	background: #FFEDE3;
}
#mainFooter ul li {
	list-style: none;
	float: left;
	line-height: 50px;
	margin-left: 25px;
}
#content {
	padding: 20px;
	padding-bottom: 80px !important; /* Height of the footer element */
}
#footer {
	width: 100%;
	height: 80px;
	position: absolute !important;
	bottom: 0;
	left: 0;
	background: #ee5;
}
div#fixedSearch {
  background: #000000;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.hostelThumb {
   display: inline-block;
  width: 265px;
  margin-left: 10px;
  margin-top: 20px;
}
div#pager {
    text-align: center;
}
.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 20px 0px;
    border-radius: 4px;
}
a#hpName {
  background: rgb(99, 210, 205);
  color: #fff;
  font-size: 18px;
  font-family: cursive;
}